/* Write your CSS here */

.appointmentContainer {
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  padding: 6px;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;
}

.appointmentTitleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starImg {
  width: 30px;
  height: 30px;
}

.starBtn {
  background-color: transparent;
  border: none;
}

.date {
  color: #b5b7c4;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
}
